@model OnlineShoppingSystem.Entity.Product

<link rel="stylesheet" href="~/Content/Style.css" type="text/css" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<table class="table" align="center">
    <h4 align="center">Details</h4>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Brand)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductColor)
        </th>


    </tr>
    <tr>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ProductId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ProductName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Brand)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ProductColor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ProductPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => modelItem.ProductQuantity)
        </td>
    </tr>

</table>
}