

<!DOCTYPE html>
<html>
<head>

    <title>@ViewBag.Title- Onine Shopping System</title>
    <link rel="stylesheet" href=" ~/Content/Master.css" type="text/css" />
</head>
<body>
    <div class="navbar">
        @*<div class="menu">*@
        <ul>
            <li>@Html.ActionLink("SignUp", "SignUp", "Account")</li>
            <li>@Html.ActionLink("Login", "Login", "Account")</li>
            <li>@Html.ActionLink("AddCategory", "AddCategory", "Category")</li>
        </ul>
    </div>
    @*</div>*@
    <div>
        @RenderBody()
    </div>
</body>
</html>